<ion-header>
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Formulario de nuevo comentario -->
  
  <ion-item>
    <ion-label position="floating">Estacionamiento</ion-label>
    <ion-input [(ngModel)]="newComentario.estacionamiento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Comentario</ion-label>
    <ion-input [(ngModel)]="newComentario.comentario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Calificación</ion-label>
    <ion-input [(ngModel)]="newComentario.calificacion" type="number"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="addComentario()">Agregar Comentario</ion-button>

  <ion-list>
    <ion-item *ngFor="let comentario of comentarios">
      <ion-label>
        <h2>{{ comentario.usuario }}</h2>
        <p>{{ comentario.comentario }}</p>
        <p>Estacionamiento: {{ comentario.estacionamiento }} | Calificación: {{ comentario.calificacion }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="updateComentario(comentario)">Editar</ion-button>
        <ion-button color="danger" (click)="deleteComentario(comentario.id)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
