<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi estacionamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="margin: 100px;">
  <!--Toolbars-->
  <ion-header>
    <ion-toolbar>
      <!--Boton para regresar a la pagina de registro-->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>

      <ion-title>Recuperar contraseña</ion-title>

    </ion-toolbar>
  </ion-header>

  <!--Contenido-->

  

  <div class="ion-padding" style="text-align: center;">
    <ion-icon name="key-sharp" size="large" color="tertiary"></ion-icon>
    
    <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Ingresa tus datos para recuperar tu contraseña</p>
  </div>


  <ion-list [inset]="true">
    <!--Nombre-->
    <ion-item>
      <ion-input label="Ingresa tu nombre" [(ngModel)]="name" ></ion-input>
    </ion-item>
    
    <br>
    <!--Contraseña-->
    <ion-item>
      <ion-input label="Nueva contraseña" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input label="Repite la contraseña" type="password"[(ngModel)]="password2"></ion-input>
    </ion-item>
  
  </ion-list>
  <!--Mensaje de error-->
  <div *ngIf="errors.length > 0">
    <ul>
      <li *ngFor="let error of errors" style="color: rgb(255, 0, 0);">{{error}}</li>
    </ul>
  </div>

  <div style="padding: 20px; text-align: center;">
    <ion-button expand="block" color="tertiary" style="font-family: Arial, Helvetica, sans-serif;" (click)="validarDatos()"><strong>Cambiar contraseña</strong></ion-button> 
  </div>



  

  







  
    

  <ion-footer>
    <ion-toolbar>
      <ion-title>
        <img src="assets/JDK.png" width="10%" height="10%">
      </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>