<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi estacionamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="margin: 100px;">
  <!--Toolbars-->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Title</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!--Contenido-->
  
    <ion-list [inset]="true">
      <ion-item>
        <ion-input label="Ingresa tu nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Ingresa tu apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Ingresa tu correo" type="email" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Ingresa tu nueva contraseña" type="password" ></ion-input>
      </ion-item>      
    </ion-list>
  
    

  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>