<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi estacionamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="margin: 100px;">
  <!--Toolbars-->
  <ion-header>
    <ion-toolbar>
      <!--Boton para regresar a la pagina de registro-->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>

      <ion-title>Recuparar contraseña</ion-title>

    </ion-toolbar>
  </ion-header>

  <!--Contenido-->

  

  <div class="ion-padding" style="text-align: center;">
    <ion-icon name="key-sharp" size="large" color="tertiary"></ion-icon>
    
    <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Ingresa tus datos para recuperar tu contraseña</p>
  </div>


  <ion-list [inset]="true">

    <ion-item>
      <ion-input label="Ingresa tu nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Ingresa tu correo" type="email" ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Nueva contraseña" type="password"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input label="Repite la contraseña" type="password"></ion-input>
    </ion-item>
  
  </ion-list>

  <div style="padding: 20px; text-align: center;">
    <ion-button expand="block" color="tertiary" style="font-family: Arial, Helvetica, sans-serif;" href="/login"><strong>Cambiar contraseña</strong></ion-button> 
  </div>



  

  







  
    

  <ion-footer>
    <ion-toolbar>
      <ion-title>
        <img src="assets/JDK.png" width="10%" height="10%">
      </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>