<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      JDK
    </ion-title>
    <ion-buttons slot="end">
      <ion-button href="/login" style="border-radius:5px; " color="tertiary"> <strong>Cerrar Sesión</strong> </ion-button>
    </ion-buttons>
  </ion-toolbar>
 

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card>
      <ion-card-header>
        <div>
          <ion-icon name="person-circle-outline" style="font-size: 100px;"></ion-icon>
        </div>
        <!--Visualiza el dato recibido desde input Usuario de Login-->
        <ion-card-title>Hola, {{receivedUsername}}!</ion-card-title>

      </ion-card-header>
    
      <ion-card-content>
        <p>Bienvenido a Mi Estacionamiento.</p>
        <p>Arrienda, busca y reserva fácilmente desde tu móvil, con pagos seguros en línea. ¡Simplifica tu experiencia de estacionamiento!</p>
      </ion-card-content>

      
  
  <!--Ingrasar componentes-->
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="mis-datos">
        <ion-label>Contacto</ion-label>
      </ion-segment-button>
      <ion-segment-button value="experiencia-laboral">
        <ion-label>Estacionamiento</ion-label>
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        <ion-label>Pago</ion-label>
      </ion-segment-button>
      <ion-segment-button value="usuariosfirebase">
        <ion-label>Crud usuarios</ion-label>
      </ion-segment-button>
    </ion-segment>


    
  <!-- Mostrar componentes según el valor seleccionado en el segmento -->
    <ng-container *ngIf="selectedSegment === 'mis-datos'">
      <app-mis-datos></app-mis-datos>
    </ng-container>
    <ng-container *ngIf="selectedSegment === 'experiencia-laboral'">
      <app-experiencia-laboral></app-experiencia-laboral>
    </ng-container>
    <ng-container *ngIf="selectedSegment === 'certificaciones'">
      <app-certificaciones></app-certificaciones>
    </ng-container>
    <ng-container *ngIf="selectedSegment === 'usuariosfirebase'">
      <app-usuariosfirebase></app-usuariosfirebase>
    </ng-container>


    </ion-card>
    
  </div>


  
    


</ion-content>
