<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Estacionamiento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card>
      <ion-card-header>
        <div>
          <ion-icon name="person-circle-outline" style="font-size: 100px;"></ion-icon>
        </div>
        <!--Visualiza el dato recibido desde input Usuario de Login-->
        <ion-card-title>Hola, {{receivedUsername}}!</ion-card-title>

      </ion-card-header>
    
      <ion-card-content>
        <p>Bienvenido a Mi Estacionamiento.</p>
        <p>Arrienda, busca y reserva fácilmente desde tu móvil, con pagos seguros en línea. ¡Simplifica tu experiencia de estacionamiento!</p>
      </ion-card-content>

      <ion-button fill="clear">Vamos a vivir la experiencia</ion-button>
    </ion-card>
    
  </div>
</ion-content>
