<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" style="border-radius: 5px;" color="tertiary">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      JDK
    </ion-title>
    <ion-buttons slot="end">
      <ion-button href="/login" style="border-radius:5px; " color="tertiary"> <strong>Cerrar Sesión</strong> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="padding: 20px;">
  <div class="container">
    <ion-icon name="person-circle-outline" style="font-size: 100px;" class="center-icon"></ion-icon>
  </div>
  <div>
    <ion-title style="text-align: center;">Hola,</ion-title>
  </div>
  <div>
    <p>Bienvenido a Mi Estacionamiento.</p>
    <p>Arrienda, busca y reserva fácilmente desde tu móvil, con pagos seguros en línea. ¡Simplifica tu experiencia de estacionamiento!</p>
  </div>

  

  <!--Ingrasar componentes-->
  <ion-segment [(ngModel)]="selectedSegment">

    <ion-segment-button value="mis-datos">
      <ion-label>Mis datos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="certificaciones">
      <ion-label>Cuenta de pago</ion-label>
    </ion-segment-button>  
    <!--Segmento ApiRest-->
    <ion-segment-button value="Estacionamiento">
      <ion-label>Mis estacionamientos</ion-label>
    </ion-segment-button> 
    <!--Segmento QR-->  
    <ion-segment-button value="qr-pago">
      <ion-label>Generar QR Pago</ion-label>
    </ion-segment-button>

  </ion-segment>

  <!-- Mostrar componentes según el valor seleccionado en el segmento -->
  <ng-container *ngIf="selectedSegment === 'mis-datos'">
    <app-mis-datos></app-mis-datos>
  </ng-container>
  <ng-container *ngIf="selectedSegment === 'certificaciones'">
    <app-certificaciones></app-certificaciones>
  </ng-container> 
  <!--Api rest-->
  <ng-container *ngIf="selectedSegment === 'Estacionamiento'">
    <app-estacionamiento></app-estacionamiento>
  </ng-container>
  <!--QR-->
  <ng-container *ngIf="selectedSegment === 'qr-pago'">
    <app-qr-pago></app-qr-pago>
  </ng-container>

</ion-content>